/* Copyright 2013 Michael Bostock. All rights reserved. Do not copy. */



html {
  min-width: 1040px;
}

.background {
  fill: #eee;
}

line {
  stroke: #fff;
}

label {
  font-weight:bold;
}

select,input{
  background-color:rgba(235, 232, 230, 0.97);
}

text.active {
  fill: red;
}

.dropdown {
  position: relative;
  display: block;
}

.dropdown-content {
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  /*overflow: auto;*/
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
  color: black;
  /*padding: 12px 16px;*/
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
      background-color: #f1f1f1

}


.button {
  background-color: #4CAF50; /* Green */
  border: 0.5px solid black;
  padding: 3px 3px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 14px;
  width: 125px;
}

.svgmatrix{
  background: white;
  margin-left:70px;
  margin-top: 40px;
  width: 800px;
  height: 620px;
  border-radius: 25px;
  border: 0.5px solid black;
}

aside{
  font-size: small;
  right: 0;
  margin-right: 980px;
  position: absolute;
  width: 230px;
  padding: 0.5px;
}

.asideleft{
  background: white;
  margin-left:10px;
}

.asideright{
  margin-right: -250px;
  width: 250px;
}

.panel_contents{
  background: white;
  width: 250px;
  height: 550px;
  overflow-x: scroll;
}

.tweets_contents
{
    content:' ';
    display:block;
    padding: 3px 3px 3px 3px;
    border-bottom:0.5px solid rgba(43, 41, 41, 0.92);
}

.tweets_contents:hover
{
  background:lightgrey;
  cursor: pointer;
}

div.tooltip {	
    position: absolute;
    padding: 2px;
    font: 16px sans-serif;
    background: lightsteelblue;
    border: 0px;		
    border-radius: 8px;
    pointer-events: none;	
    white-space:nowrap;		
}

.tweetsborder {
  border-radius:6px;
	border:10px solid #666666;
}



.loader {
  position: absolute;
}

.panel_name {
	padding:3px;
	text-transform: uppercase;
    font-family: arial;
	font-size: 0.85em;
	font-weight: 600;
	background:#cccccc;
	color: #333;
	text-shadow:1px 1px 0px #EEE;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #EEEEEE), color-stop(1, #CCCCCC));
	background:-moz-linear-gradient( center top, #EEEEEE 5%, #CCCCCC 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#CCCCCC');
	background-color:#ededed;
	border: 1px solid #666;
  border-radius: 2px;
}


.ocks-org body {
  background: rgba(235, 232, 230, 0.97);
  color: #333;
  font-family: "PT Serif", serif;
  margin: 1em auto 4em auto;
  position: relative;
  width: 960px;
}

.ocks-org header,
.ocks-org footer,
.ocks-org aside,
.ocks-org h1,
.ocks-org h2,
.ocks-org h3,
.ocks-org h4 {
  font-family: "PT Sans", sans-serif;
}

.ocks-org h1,
.ocks-org h2,
.ocks-org h3,
.ocks-org h4 {
  color: #000;
}

.ocks-org header,
.ocks-org footer {
  color: #636363;
}

h1 {
  font-size: 64px;
  font-weight: 300;
  letter-spacing: -2px;
  margin: .3em 0 .1em 0;
}

h2 {
  margin-top: 2em;
}

h1, h2 {
  text-rendering: optimizeLegibility;
}

h2 a[name],
h2 a[id] {
  color: #ccc;
  right: 100%;
  padding: 0 .3em;
  position: absolute;
}

header,
footer {
  font-size: small;
}

.ocks-org header aside,
.ocks-org footer aside {
  float: left;
  margin-right: .5em;
}

.ocks-org header aside:after,
.ocks-org footer aside:after {
  padding-left: .5em;
  content: "/";
}

footer {
  margin-top: 8em;
}

.applyBtn{
  margin-top : 10px;
  margin-left: 175px;
}

.attribution {
  font-size: small;
  margin-bottom: 2em;
}

body > p, li > p {
  line-height: 1.5em;
}

body > p {
  width: 720px;
}

body > blockquote {
  width: 640px;
}

blockquote q {
  display: block;
  font-style: oblique;
}

ul {
  padding: 0;
}

li {
  max-width:220px;
  word-wrap:break-word;
}

a {
  color: steelblue;
}

a:not(:hover) {
  text-decoration: none;
}

pre, code, textarea {
  font-family: "Menlo", monospace;
}

code {
  line-height: 1em;
}

textarea {
  font-size: 100%;
}

body > pre {
  border-left: solid 2px #ccc;
  padding-left: 18px;
  margin: 2em 0 2em -20px;
}

.html .value,
.javascript .string,
.javascript .regexp {
  color: #756bb1;
}

.html .tag,
.css .tag,
.javascript .keyword {
  color: #3182bd;
}

.comment {
  color: #636363;
}

.html .doctype,
.javascript .number {
  color: #31a354;
}

.html .attribute,
.css .attribute,
.javascript .class,
.javascript .special {
  color: #e6550d;
}

svg {
  font: 10px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

sup, sub {
  line-height: 0;
}

q:before {
  content: "â€œ";
}

q:after {
  content: "â€";
}

blockquote q {
  line-height: 1.5em;
  display: inline;
}

blockquote q:before,
blockquote q:after {
  content: "";
}